@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family: Lato;
	color: #424551;

}

.container{
max-width: 810px;
margin: 0 auto;
}

.heading__text{
	color: #1e212c;
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
}
.heading__block{
	margin-bottom: 40px;
}

.block__title{
	color: #1e212c;
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
}
.title__text{
	margin-bottom: 24px;
}

.text__block{
	color: #424551;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}
.margine{
	margin-bottom: 24px;
}
.text__margine_block{
	margin-bottom: 43px;
}
.title__icon{
	background: url(../img/Rectangle\ 268.svg)  0 0  no-repeat;
	padding-left: 58px;
}
.margine2{
	margin-bottom: 43px;
}

.list__text li{
	margin-bottom: 4px;
	background: url(../img/Vector.svg) 0 1px no-repeat;
	padding-left: 32px;
	min-height: 32px;
}


